<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Form</title>
</head>
<body>
    <h1>Password Form</h1>
    <form action="password/" method="post">
        {% csrf_token %}
        <label for="letters">How many letters would you like in your password?</label><br>
        <input type="number" id="letters" name="letters" required><br><br>
        <label for="symbols">How many symbols would you like?</label><br>
        <input type="number" id="symbols" name="symbols" required><br><br>
        <label for="numbers">How many numbers would you like?</label><br>
        <input type="number" id="numbers" name="numbers" required><br><br>
        <button type="submit">Generate Password</button>
    </form>

</body>
</html>
